body{
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
}

.categories h1,
.all-animals h1,
.all-district .all-district-heading h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700; 
    margin-bottom: 50px; 
    overflow: hidden;
}

.categories h1::after,
.all-animals h1::after,
.all-district .all-district-heading h1::after{
    margin-right: auto;
    margin-left: auto;    
    margin-top: 15px;   
    content:"";    
    display: block;
    height: 0.5em;    
    width: 100px;        
    border-top: 5px solid #BF0707;
}
/*****************************************************************************************
                                       Header Section
*****************************************************************************************/

/*---------------                       Navigation                          ------------*/
.navbar-brand{
    padding: 0!important;
    padding-right: 30px!important;
} 

.navbar-brand img{   
     height: 80px;   
}

.navbar .navbar-nav .nav-item a{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    font-style: normal;
    transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-item a:hover{
    color: #c40300;
}

.seller-button{
    background-color: #18A255;
    padding: 5px;
    border-radius: 10px;
    color: white!important;
    transition: all 0.3s ease;
}

.seller-button a,
.others-button a{
    color: white!important;
}

.seller-button,
.others-button{
    margin: 5px 10px;
}

.seller-button:hover a{   
    color: #000000!important;
}

.others-button{
    background-color: #c40300;
    padding: 5px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.others-button a i{
    margin-right: 10px;
}

.others-button:hover{
    background-color: #8f0200;
}

.login-button a i{
    font-size: 20px;
    color: #c40300;
}



/*---------------                           Banner                             ------------*/




/*****************************************************************************************
                                       Main Section
*****************************************************************************************/

/*---------------                      Body Heading                         ------------*/

.body-heading{
    margin-top: 80px;
    margin-bottom: 30px;
}

.body-heading h1{
    color: #C80505;
    font-size: 38px;
    font-weight: 700;
    text-align: center;    
    letter-spacing: 0px;
    margin-bottom: 50px;
}

.body-heading h1 span{
    color: #646464;
}


.body-heading .haat{
    margin-bottom: 30px;
}

.body-heading .haat div{
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}

.body-heading .haat div:hover{
    transform: scale(0.9);
}



/*---------------                      Search                       --------------*/
.search h3{
    color: #BF0707;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.search .search-buttons .search-button{
    padding: 10px 20px!important;
}

.search .search-buttons .search-button p{
    text-decoration: none;
    width: 100%;
    background-color: #BF0707;;
    padding: 10px 20px;
    margin-top: 5px;    
    border-radius: 7px;
    transition: all 0.3s ease;
}

.search .search-buttons .search-button:hover p{ 
        background-color: #8d0000;
}

.search .search-buttons .search-button p a{
    text-decoration: none; 
    color: white;
    font-size: 15px;
}

.search .search-buttons .search-button a i{
    margin-right: 10px;
}

.search .search-box input{
    width: 100%;
    padding: 8px 15px;
    border: 1px solid gray;
    border-radius: 10px;
}


  
/*---------------                         Categories                         --------------*/
.categories{
    margin-top: 80px;
    margin-bottom: 100px; 
}

.categories .category-item{
    padding: 5px 15px;
}

.categories .category-item div{
    background-color: rgb(206, 206, 206);
    padding: 35px;    
    transition: all 0.4s ease;
}

.categories .category-item div:hover
{
    background-color: #BF0707;
    cursor: pointer;
}

.categories .category-item div:hover h3{
    color: white;
}

.categories .category-item div:hover img{
    transform: scale(1.1);
}

.categories .category-item img{
    width: 100%; 
    transition: all 0.4s ease;   
}

.categories .category-item h3{
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    margin-top: 15px;
    transition: all 0.4s ease;
}


  
/*---------------                         Top Animals                         --------------*/
.top-animals .top-animals-heading{
    margin-bottom: 25px;
} 
.top-animals .top-animals-heading h2{
    font-size: 32px;
    font-weight: 700;
    overflow: hidden;
}

.top-animals .top-animals-heading h2::after {
    margin-top: 10px;
    content:"";    
    display: block;
    height: 0.5em;    
    width: 80px;    
    margin-left: 0px;
    border-top: 5px solid #BF0707;
}

.top-animals .top-animals-heading div i{
    margin-right: 5px;
    color: white;
    font-size: 20px;
    padding: 8px 10px;
    background-color: #BF0707;
    transition: all 0.3s ease;
}

.top-animals .top-animals-heading div i:hover{    
    cursor: pointer;
    background-color: #7c0000;
}

.top-animals .top-animals-item{
    position: relative;
    padding: 15px;
}

.top-animals .top-animals-item .top-animals-item-card{
    position: relative;
} 

.top-animals .top-animals-item .top-animals-item-details{    
    position:absolute;
    opacity: 0;   
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    height: 80%;
    width: 100%;    
    text-align: center;
    color: white;             
    background-color: rgba(0, 0, 0, 0.5);    
    transition: all 0.3s ease; 
}

.top-animals .top-animals-item:hover .top-animals-item-details{       
    opacity: 1;
    cursor: pointer;
}



  
/*---------------                         All Animals                         --------------*/
.all-animals{
    margin-top: 100px;
}

.all-animals .animal-card{   
    padding: 15px;
    margin-top: 15px;
     
    
}

.all-animals .animal-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.all-animals .animal-image{
    position: relative;
}

.all-animals .animal-price{
    position: absolute;    
    bottom: 10px;
    left: 20%;
    right: 0;
    height: 35px;
    background-color: #7c0000;
}

.all-animals .animal-price h5{
    color: white;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 5px;
}

.all-animals .animal-details{
    padding: 10px 15px;
}

.all-animals .animal-details h6{
    margin-top: 10px;
    padding: 3px 15px;
    display: inline-block;
    background-color:#7c0000; 
    color: white;
    border-radius: 15px;   
}

.all-animals .animal-details h4{
    font-weight: 700;   
}

.all-animals .animal-details p{
    font-weight: 600;
    color: rgb(70, 70, 70);
}

.all-animals .animal-details p i{
    margin-right: 10px;    
}

.all-animals-footer{
    margin-top: 40px;
    margin-bottom: 100px;
}

.all-animals-footer a{
    padding: 10px 40px;
    background-color:#7c0000;
    color: white;
    font-weight: 500;
    border: none;
}

.all-animals-footer a:hover{
    background-color:#a32121;
    color: white;
}





  
/*---------------                         All District                         --------------*/

.all-district{
    margin-bottom: 100px;
}

.all-district .district{
    position: relative;    
}

.all-district .district-card{
    padding: 0px;
    margin-top:20px;
    position: relative;
}

.all-district .district-card .district-name{    
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;     
    bottom: 10px;
    z-index: 999;    
}

.all-district .district-card .district-name h5{
    position: absolute;
    z-index: 9999;
    bottom: 0px;
    font-weight: 700;
    border-top: 3px solid white;
    color: white;   
}

.all-district-footer{
    margin-top: 40px;
}

.all-district-footer a{
    padding: 10px 40px;
    background-color:#7c0000;
    color: white;
    font-weight: 500;
    border: none;
}

.all-district-footer a:hover{
    background-color:#a32121;
    color: white;
}

.all-district-footer a i{
    margin-right: 5px;
}

